.item
  border-radius: 4px
  padding: 0
  margin: 0

  &:hover
    background-color: #eee

  &.selected
    background-color: yellow

.link
  display: block
  padding: 4px
  color: black

.iconWrapper
  margin-right: 4px
  vertical-align: middle

.name
  vertical-align: middle
