.item
  border-radius: 4px
  padding: 2px
  clear: both
  display: inline-block
  width: 100%

  &:hover
    background-color: #eee

  &.selected
    background-color: yellow

.iconWrapper
  display: inline-block
  padding: 2px
  float: left

.name
  margin-left: 34px

.info
  text-align: right
  color: grey
  font-size: 12px

.tag
  font-weight: bold
  padding: 1px 3px
  border-radius: 2px
  margin: 4px

.questTag
  @extend .tag
  background-color: mediumblue
  color: white

.modAbbr
  @extend .tag
  background-color: green
  color: white

.price,
.weight
  display: inline-block
  font-family: arial, sans-serif
  margin: 4px
  min-width: 45px
  text-align: left

.priceLabel,
.weightLabel
  vertical-align: middle

.priceIcon,
.weightIcon
  display: inline-block
  vertical-align: middle
  width: 12px
  height: 12px
  margin-right: 8px

.priceIcon
  background: center / contain no-repeat url("/images/common/coin.png")

.weightIcon
  background: center / contain no-repeat url("/images/common/weight.png")
