.container
  display: flex
  flex-direction: row

.effectPane
  flex: 1
  display: flex
  padding-right: 1em
  justify-content: flex-end
  border-right: 1px dashed #ccc

.ingredientPane
  flex: 1
  padding-left: 1em
