.componentList
  display: block

.componentList
  .componentList,
  .item
    position: relative

.componentList.or >
  :not(:first-child):before
    display: block
    position: relative
    top: 0
    left: 5px
    content: '- or -'
    font-size: 0.5em
    font-weight: bold

.componentList >,
.componentList.and >
  :not(:first-child):before
    content: '+'
    display: block
    position: absolute
    top: -9px
    left: -10px
    z-index: 10
