.itemList
  border-collapse: collapse
  width: 100%

.header
  th
    padding: 4px
    border-bottom: 1px solid #ccc
    text-align: left

  td
    padding: 4px
    vertical-align: top
    border-bottom: 1px dashed #ccc

  tr:last-child td
    border-bottom: none
