.item
  display: block
  margin: 1px

.iconWrapper
  display: inline-block
  vertical-align: middle
  padding: 2px
  margin-right: 4px

.link
  color: black
  text-decoration: none

  &:hover
      text-decoration: underline
