.row
  td
    padding: 4px
    vertical-align: top

  &:not(:last-child)
    td
      border-bottom: 1px dashed #ccc

.category
  color: black
  text-decoration: none

  &:hover
      text-decoration: underline
