@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap')

html,
body
  margin: 0
  padding: 0
  font-size: 14px
  font-family: 'Marmelad', sans-serif
  background-color: white

a
  color: cornflowerblue
  text-decoration: none
